:root {
  --primaryColor: #f09d51;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}

.form-group.success input{
  border: green solid 2px;
}

.form-group.error input{
  border: red solid 2px;
}

.form-group.success i.fa-check-circle{
  visibility: visible;
  color: green;
}

.form-group.error i.fa-exclamation-circle{
  visibility: visible;
  color: red;
}
.form-group.error small{
  visibility: visible;
  color: red;
}
.hide{
  display: none;
}

.form-control{
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}


.form-group i{
  position: absolute;
  left: 1180px;
  visibility: hidden;
 
}
.form-group small{
  visibility: hidden;
 
}

.p{
  padding: 1%;
  margin-bottom: 5%;
 
}
.display-table img {
  width: 75px;
  height: 75px;
}
.check{
  width: 50%;
}
header {
  background-color: #d3d3d3;
}

.cart-btn {
  position: relative;
  cursor: pointer;
}
.cart-items {
  position: absolute;
  top: -8px;
  right: -8px;
  background: var(--primaryColor);
  padding: 0 5px;
  border-radius: 30%;
  color: var(--mainWhite);
}

.banner {
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  display: inline-block;
  padding: 2rem;
}
.banner-title {
  font-size: 3.4rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 3rem;
}
.banner-btn {
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 1rem;
  background: var(--primaryColor);
  color: var(--mainBlack);
  border: 1px solid var(--primaryColor);
  transition: var(--mainTransition);
  cursor: pointer;
}
.banner-btn:hover {
  background: transparent;
  color: var(--primaryColor);
}
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  background: rgb(240, 157, 81, 0.5);
  z-index: 2;
  visibility: hidden;
}
.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 3;
  background: rgb(231, 226, 221);
  padding: 1.5rem;
  transition: var(--mainTransition);
  transform: translateX(100%);
}
.showCart {
  transform: translateX(0);
}
.transparentBcg {
  visibility: visible;
}
@media screen and (min-width: 768px) {
  .cart {
    width: 30vw;
    min-width: 450px;
  }
}

.close-cart {
  font-size: 1.7rem;
  cursor: pointer;
}
.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
}
/*---------- Cart Item -------------------- */
.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}
.cart-item img {
  width: 75px;
  height: 75px;
}
.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: var(--mainSpacing);
}
.item-amount {
  text-align: center;
}
.remove-item {
  color: grey;
  cursor: pointer;
}
.fa-chevron-up,
.fa-chevron-down {
  color: var(--primaryColor);
  cursor: pointer;
}
/*---------- End of Cart Item -------------------- */

.cart-footer {
  margin-top: 2rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}
.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}

/* --------------- End of Cart ---------------- */

.card-img-top {
  height: 190px;
  -o-object-fit: cover;
     object-fit: cover;
}

h1, h2 {
  text-align: center;
  margin-bottom: 10px;
}

.metier p {
  margin-left: 3rem;
}

table table-image {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  table-layout: fixed;
  width: 30%;
}

thead {
  text-align: left;
}

table table-image td,
table table-image th {
  border: 1px solid #fcf5d9;
  padding: 3px 2px;
}

th, td {
  border: 1px solid black;
}

caption {
  padding-top: 50px;
  margin-left: 3rem;
}

footer {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 30px;
  background-color: #d3d3d3;
}

#allproducts {
  width: auto;
}

@media (max-width: 450px) {
  #allproducts {
    margin: 50px 40px;
  }
}

@media (max-width: 450px) {
  #allproducts {
    margin: 30px 10px;
  }
}

@media screen and (max-width: 450px) {
  .pied p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    font-size: 13px;
  }
  ul {
    font-size: 13px;
  }
}